doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/about") About
    section#wrapper
      h1= title
      p Welcome to #{title}
      block content
      footer
        section.css-table
          section.four-column
            section.cell
              p footer link 1
            section.cell
              p footer link 1
            section.cell
              p footer link 1
            section.cell
              p footer link 1
